canvas {
  height: 100vh;
  width: 100vw;
}

.xr-button {
  bottom: unset !important;
  top: 24px;
}

.xr-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 48px;
  box-sizing: border-box;
}

.place-button {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  color: white;
}
